@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 142.1 26% 98%;
  --foreground: 142.1 5% 10%;
  --card: 142.1 26% 98%;
  --card-foreground: 142.1 5% 15%;
  --popover: 142.1 26% 98%;
  --popover-foreground: 142.1 95% 10%;
  --primary: 142.1 70.6% 45.3%;
  --primary-foreground: 0 0% 100%;
  --secondary: 142.1 26% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 104.1 26% 95%;
  --muted-foreground: 142.1 5% 40%;
  --accent: 104.1 26% 90%;
  --accent-foreground: 142.1 5% 15%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 142.1 5% 98%;
  --border: 142.1 26% 82%;
  --input: 142.1 26% 50%;
  --ring: 142.1 70.6% 45.3%;
  --radius: 1rem;
 }
.dark {
  --background: 142.1 26% 10%;
  --foreground: 142.1 5% 98%;
  --card: 142.1 26% 10%;
  --card-foreground: 142.1 5% 98%;
  --popover: 142.1 26% 5%;
  --popover-foreground: 142.1 5% 98%;
  --primary: 142.1 70.6% 45.3%;
  --primary-foreground: 0 0% 100%;
  --secondary: 142.1 26% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 104.1 26% 25%;
  --muted-foreground: 142.1 5% 65%;
  --accent: 104.1 26% 25%;
  --accent-foreground: 142.1 5% 95%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 142.1 5% 98%;
  --border: 142.1 26% 50%;
  --input: 142.1 26% 50%;
  --ring: 142.1 70.6% 45.3%;
  --radius: 1rem;
 }

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

